@model List<CRUD_Empleados.Models.Domain.Empleado>
@{
}

<h1>Lista de empleados</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Fecha de Nacimiento</th>
            <th>Puesto</th>
            <th>Sueldo</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @{
            /*CARGA EN CADA FILA UN EMPLEADO DE LA LISTA CRUD_Empleados.Models.Domain.Empleado*/
        }
        @foreach (var empleado in Model)
        {
            <tr>
                <td>@empleado.Id</td>
                <td>@empleado.Nombre</td>
                <td>@empleado.Email</td>
                <td>@empleado.Nacimiento.ToString("dd-MM-yyyy")</td>
                <td>@empleado.Puesto</td>
                <td>@empleado.Sueldo</td>
                <td><a href="Empleados/Editar/@empleado.Id">Editar</a></td>
            </tr>
        }
    </tbody>
</table>